# Common
node_modules
dist
build
.env
.env.*
*.local

# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*

# allow production env to be committed
!frontend/.env.production

# Backend
backend/node_modules
backend/.env
